
@using System.Threading.Tasks
@using ExceptionhandlingDemo.ViewModels

@model HomeIndexViewModel

<table class="table">

@foreach (var c in Model.Customers)
{
    <tr>
        <td>@c.FirstName</td>
        <td>@c.MiddleName</td>
        <td>@c.LastName</td>
    </tr>
}

</table>

